<h1>Emails#index</h1>



<%= link_to "Recevoir un mail", emails_path, data:{method: "POST"}, class: "btn btn-primary", remote: true %>


<hr>
<div id="received_emails" class="row">
<ul id="object_received_emails" class="col-4">
  <% @mails.each do |a|%>
  <li><%= link_to "Lire l'email", email_path(a.id), remote: true %></li>
  <% end %>
</ul>


<ul id="body_received_emails" class="col-4">
  <% @mails.each do |a|%>
  <li><%= a.body %></li>
  <% end %>




<ul>
</div>
